<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @daily_data_vehicle.vehicle %>
</p>


<%= link_to 'Edit', edit_daily_data_vehicle_path(@daily_data_vehicle) %> |
<%= link_to 'Back', daily_data_vehicles_path %>
