<h1>WeeklyReview#index</h1>
<table>
  <% @dates.each do |date| %>
    <tr>
      <td><%= link_to date.strftime("Week %U - %A %D"), :controller => 'weekly_review', :action => "show", :weekreference => date %></td>
    </tr>
  <% end %>
</table>