<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-list">
  <li class="active"><a href="#">Home</a></li>
  <li class="nav-header">News</li>
  <li>News</li>
  <li>New Features</li>
</ul>